@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";

// bootstrap variables
$body-bg: $indigo-800;
$body-color: $indigo-100;
$theme-colors: (
  "primary" : $indigo-600,
);

// custom variables
$footer-height: 60px;


// overall appearance
main {
  height: calc(100vh - $footer-height); 
  overflow-y: auto;
}

#message-textarea {
  resize: none;
}

span.input-group-text {
  background-color: $indigo-600;
  color: $indigo-100;
}

.message {
  background-color: $indigo-600;
}

::-webkit-scrollbar {
    width: 0px;
}

@import "~bootstrap/scss/bootstrap.scss";
