@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";

// bootstrap variables
$body-bg: $indigo-800;
$body-color: $indigo-100;
$theme-colors: (
  "primary" : $indigo-600,
);

// custom color variables
$footer-height: 110px;

.message {
  background-color: $indigo-600;
}

// overall appearance
main {
  height: calc(100vh - $footer-height); 
  overflow-y: auto;
}

footer {
   position: fixed;
   bottom: 0;
   height: $footer-height;
   //width: calc(100vw - $footer-height); 
}

#message-textarea {
  resize: none;
  
}

::-webkit-scrollbar {
    width: 0px;
}

@import "~bootstrap/scss/bootstrap.scss";
